In [3]:
import pandas as pd

# Load the first file (January 2016)
df = pd.read_csv("/Users/oatalmondcoconutmilk/Documents/THWS/Datenverarbeitung/archive/yellow_tripdata_2016-01.csv")

# Preview the first 5 rows
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RatecodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2016-01-01 00:00:00,2016-01-01 00:00:00,2,1.10,-73.990372,40.734695,1,N,-73.981842,40.732407,2,7.5,0.5,0.5,0.0,0.0,0.3,8.8
1,2,2016-01-01 00:00:00,2016-01-01 00:00:00,5,4.90,-73.980782,40.729912,1,N,-73.944473,40.716679,1,18.0,0.5,0.5,0.0,0.0,0.3,19.3
2,2,2016-01-01 00:00:00,2016-01-01 00:00:00,1,10.54,-73.984550,40.679565,1,N,-73.950272,40.788925,1,33.0,0.5,0.5,0.0,0.0,0.3,34.3
3,2,2016-01-01 00:00:00,2016-01-01 00:00:00,1,4.75,-73.993469,40.718990,1,N,-73.962242,40.657333,2,16.5,0.0,0.5,0.0,0.0,0.3,17.3
4,2,2016-01-01 00:00:00,2016-01-01 00:00:00,3,1.76,-73.960625,40.781330,1,N,-73.977264,40.758514,2,8.0,0.0,0.5,0.0,0.0,0.3,8.8

In [4]:
# Load the first file (January 2015)
df = pd.read_csv("/Users/oatalmondcoconutmilk/Documents/THWS/Datenverarbeitung/archive/yellow_tripdata_2015-01.csv")

# Preview the first 5 rows
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2015-01-15 19:05:39,2015-01-15 19:23:42,1,1.59,-73.993896,40.750111,1,N,-73.974785,40.750618,1,12.0,1.0,0.5,3.25,0.0,0.3,17.05
1,1,2015-01-10 20:33:38,2015-01-10 20:53:28,1,3.30,-74.001648,40.724243,1,N,-73.994415,40.759109,1,14.5,0.5,0.5,2.00,0.0,0.3,17.80
2,1,2015-01-10 20:33:38,2015-01-10 20:43:41,1,1.80,-73.963341,40.802788,1,N,-73.951820,40.824413,2,9.5,0.5,0.5,0.00,0.0,0.3,10.80
3,1,2015-01-10 20:33:39,2015-01-10 20:35:31,1,0.50,-74.009087,40.713818,1,N,-74.004326,40.719986,2,3.5,0.5,0.5,0.00,0.0,0.3,4.80
4,1,2015-01-10 20:33:39,2015-01-10 20:52:58,1,3.00,-73.971176,40.762428,1,N,-74.004181,40.742653,2,15.0,0.5,0.5,0.00,0.0,0.3,16.30

In [5]:
# Load the first file (February 2016)
df = pd.read_csv("/Users/oatalmondcoconutmilk/Documents/THWS/Datenverarbeitung/archive/yellow_tripdata_2016-02.csv")

# Preview the first 5 rows
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RatecodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2016-02-25 17:24:20,2016-02-25 17:27:20,2,0.70,-73.947250,40.763771,1,N,-73.992012,40.735390,2,5.0,0.0,0.5,0.0,0.0,0.3,5.8
1,2,2016-02-25 23:10:50,2016-02-25 23:31:50,2,5.52,-73.983017,40.750992,1,N,-73.988586,40.758839,2,20.0,0.5,0.5,0.0,0.0,0.3,21.3
2,2,2016-02-01 00:00:01,2016-02-01 00:10:52,6,1.99,-73.992340,40.758202,1,N,-73.964355,40.757977,1,9.5,0.5,0.5,0.7,0.0,0.3,11.5
3,1,2016-02-01 00:00:04,2016-02-01 00:05:16,1,1.50,-73.981453,40.749722,1,N,-73.982323,40.763985,2,6.5,0.5,0.5,0.0,0.0,0.3,7.8
4,2,2016-02-01 00:00:05,2016-02-01 00:20:59,1,5.60,-74.000603,40.729755,1,N,-73.951324,40.669834,1,20.0,0.5,0.5,4.0,0.0,0.3,25.3

In [6]:
# Load the first file (March 2016)
df = pd.read_csv("/Users/oatalmondcoconutmilk/Documents/THWS/Datenverarbeitung/archive/yellow_tripdata_2016-03.csv")

# Preview the first 5 rows
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RatecodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,1,2016-03-01 00:00:00,2016-03-01 00:07:55,1,2.50,-73.976746,40.765152,1,N,-74.004265,40.746128,1,9.0,0.5,0.5,2.05,0.00,0.3,12.35
1,1,2016-03-01 00:00:00,2016-03-01 00:11:06,1,2.90,-73.983482,40.767925,1,N,-74.005943,40.733166,1,11.0,0.5,0.5,3.05,0.00,0.3,15.35
2,2,2016-03-01 00:00:00,2016-03-01 00:31:06,2,19.98,-73.782021,40.644810,1,N,-73.974541,40.675770,1,54.5,0.5,0.5,8.00,0.00,0.3,63.80
3,2,2016-03-01 00:00:00,2016-03-01 00:00:00,3,10.78,-73.863419,40.769814,1,N,-73.969650,40.757767,1,31.5,0.0,0.5,3.78,5.54,0.3,41.62
4,2,2016-03-01 00:00:00,2016-03-01 00:00:00,5,30.43,-73.971741,40.792183,3,N,-74.177170,40.695053,1,98.0,0.0,0.0,0.00,15.50,0.3,113.80

In [7]:
# View column names
print(df.columns)

# Check data types and missing values
df.info()

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'pickup_longitude',
       'pickup_latitude', 'RatecodeID', 'store_and_fwd_flag',
       'dropoff_longitude', 'dropoff_latitude', 'payment_type', 'fare_amount',
       'extra', 'mta_tax', 'tip_amount', 'tolls_amount',
       'improvement_surcharge', 'total_amount'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12210952 entries, 0 to 12210951
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   object
 2   tpep_dropoff_datetime  object
 3   passenger_count        int64
 4   trip_distance          float64
 5   pickup_longitude       float64
 6   pickup_latitude        float64
 7   RatecodeID             int64
 8   store_and_fwd_flag     object
 9   dropoff_longitude      float64
 10  dropoff_latitude       float64
 11  payment_type           int64
 12  fare_amount            float64
 13  extra                  float64
 14  mta_tax                float64
 15  tip_amount             float64
 16  tolls_amount           float64
 17  improvement_surcharge  float64
 18  total_amount           float64
dtypes: float64(12), int64(4), object(3)
memory usage: 1.7+ GB

In [8]:
# List of all files to combine
files = [
    "yellow_tripdata_2015-01.csv",
    "yellow_tripdata_2016-01.csv",
    "yellow_tripdata_2016-02.csv",
    "yellow_tripdata_2016-03.csv"
]

# Set the folder path
folder_path = "/Users/oatalmondcoconutmilk/Documents/THWS/Datenverarbeitung/archive/"

# Load and combine them
df_all = pd.concat(
    (pd.read_csv(folder_path + file) for file in files),
    ignore_index=True
)

# Check result
print("Combined shape:", df_all.shape)
df_all.head()

Combined shape: (47248845, 20)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,RatecodeID
0,2,2015-01-15 19:05:39,2015-01-15 19:23:42,1,1.59,-73.993896,40.750111,1.0,N,-73.974785,40.750618,1,12.0,1.0,0.5,3.25,0.0,0.3,17.05,NaN
1,1,2015-01-10 20:33:38,2015-01-10 20:53:28,1,3.30,-74.001648,40.724243,1.0,N,-73.994415,40.759109,1,14.5,0.5,0.5,2.00,0.0,0.3,17.80,NaN
2,1,2015-01-10 20:33:38,2015-01-10 20:43:41,1,1.80,-73.963341,40.802788,1.0,N,-73.951820,40.824413,2,9.5,0.5,0.5,0.00,0.0,0.3,10.80,NaN
3,1,2015-01-10 20:33:39,2015-01-10 20:35:31,1,0.50,-74.009087,40.713818,1.0,N,-74.004326,40.719986,2,3.5,0.5,0.5,0.00,0.0,0.3,4.80,NaN
4,1,2015-01-10 20:33:39,2015-01-10 20:52:58,1,3.00,-73.971176,40.762428,1.0,N,-74.004181,40.742653,2,15.0,0.5,0.5,0.00,0.0,0.3,16.30,NaN

In [9]:
df_all.info()
df_all['tpep_pickup_datetime'].min(), df_all['tpep_pickup_datetime'].max()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47248845 entries, 0 to 47248844
Data columns (total 20 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   object
 2   tpep_dropoff_datetime  object
 3   passenger_count        int64
 4   trip_distance          float64
 5   pickup_longitude       float64
 6   pickup_latitude        float64
 7   RateCodeID             float64
 8   store_and_fwd_flag     object
 9   dropoff_longitude      float64
 10  dropoff_latitude       float64
 11  payment_type           int64
 12  fare_amount            float64
 13  extra                  float64
 14  mta_tax                float64
 15  tip_amount             float64
 16  tolls_amount           float64
 17  improvement_surcharge  float64
 18  total_amount           float64
 19  RatecodeID             float64
dtypes: float64(14), int64(3), object(3)
memory usage: 7.0+ GB

('2015-01-01 00:00:00', '2016-03-31 23:59:59')

In [ ]:
# 1. Dublicates
df_all.duplicated().sum()

np.int64(386)

In [11]:
df_all = df_all.drop_duplicates()

In [ ]:
df_all.duplicated(subset=[
    'tpep_pickup_datetime',
    'tpep_dropoff_datetime',
    'pickup_longitude',
    'pickup_latitude',
    'dropoff_longitude',
    'dropoff_latitude'
]).sum()


# Partial duplicates are rows that:

# Have the same values in some columns (but not necessarily all).

# his means:

# These might be identical rides recorded more than once

# Or shared rides (same route, different passengers or fares)

# Or maybe data entry artifacts (e.g. system re-logging the same trip)

--------------------------------------de-----------------
# Partielle Duplikate sind Zeilen, die:

# in einigen Spalten die gleichen Werte haben (aber nicht unbedingt in allen).

# Das bedeutet:

# Das können identische Fahrten sein, die mehr als einmal erfasst wurden.

# Oder gemeinsame Fahrten (gleiche Route, unterschiedliche Fahrgäste oder Fahrpreise)

# oder vielleicht Artefakte bei der Dateneingabe (z. B. erneute Aufzeichnung derselben Fahrt durch das System)

np.int64(17085)

In [ ]:
# 2. Missing Values 

missing_values = df_all.isnull().sum()
missing_percent = (missing_values / len(df_all)) * 100

missing_report = pd.DataFrame({
    'Missing Values': missing_values,
    'Percent Missing': missing_percent
}).sort_values(by='Percent Missing', ascending=False)

missing_report

                       Missing Values  Percent Missing
RateCodeID                   34499856        73.017950
RatecodeID                   12748603        26.982050
improvement_surcharge               3         0.000006
payment_type                        0         0.000000
total_amount                        0         0.000000
tolls_amount                        0         0.000000
tip_amount                          0         0.000000
mta_tax                             0         0.000000
extra                               0         0.000000
fare_amount                         0         0.000000
VendorID                            0         0.000000
tpep_pickup_datetime                0         0.000000
dropoff_longitude                   0         0.000000
store_and_fwd_flag                  0         0.000000
pickup_latitude                     0         0.000000
pickup_longitude                    0         0.000000
trip_distance                       0         0.000000
passenger_count                     0         0.000000
tpep_dropoff_datetime               0         0.000000
dropoff_latitude                    0         0.000000

In [14]:
# Step 1: Create unified column
df_all['RateCode'] = df_all['RateCodeID'].fillna(df_all['RatecodeID'])

# Step 2: Drop both old versions
df_all = df_all.drop(columns=['RateCodeID', 'RatecodeID'])

# Step 3: Confirm it's clean
print("Missing in unified column:", df_all['RateCode'].isnull().sum())

Missing in unified column: 0

In [ ]:
# Removing invalid data 
# Step 1: Remove Trips With Zero or Negative Distance

print("Trips with trip_distance <= 0:", (df_all['trip_distance'] <= 0).sum())

# Remove them
df_all = df_all[df_all['trip_distance'] > 0]

Trips with trip_distance <= 0: 281857

In [16]:
# Step 2: Remove Trips With Zero or Negative Fare Amount

print("Trips with fare_amount <= 0:", (df_all['fare_amount'] <= 0).sum())

# Remove them
df_all = df_all[df_all['fare_amount'] > 0]

Trips with fare_amount <= 0: 21272

In [17]:
# Step 3: Remove Trips With Zero Passengers 

print("Trips with passenger_count <= 0:", (df_all['passenger_count'] <= 0).sum())

# Remove them
df_all = df_all[df_all['passenger_count'] > 0]

Trips with passenger_count <= 0: 6589

In [18]:
# Step 4: Remove Negative Tip or Total Amount

print("Trips with tip_amount < 0:", (df_all['tip_amount'] < 0).sum())
print("Trips with total_amount <= 0:", (df_all['total_amount'] <= 0).sum())

# Remove them
df_all = df_all[df_all['tip_amount'] >= 0]
df_all = df_all[df_all['total_amount'] > 0]

Trips with tip_amount < 0: 3
Trips with total_amount <= 0: 5

In [19]:
print("Shape after cleaning:", df_all.shape)

Shape after cleaning: (46938733, 19)

In [ ]:
# 4. Basic Stats 

df_all.describe()

,VendorID,passenger_count,trip_distance,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,RateCode
count,4.693873e+07,4.693873e+07,4.693873e+07,4.693873e+07,4.693873e+07,4.693873e+07,4.693873e+07,4.693873e+07,4.693873e+07,4.693873e+07,4.693873e+07,4.693873e+07,4.693873e+07,4.693873e+07,4.693873e+07,4.693873e+07
mean,1.530464e+00,1.669095e+00,7.514104e+00,-7.283847e+01,4.012550e+01,-7.295847e+01,4.019247e+01,1.349059e+00,1.234644e+01,3.250224e-01,4.987006e-01,1.790305e+00,2.823755e-01,2.954697e-01,1.554271e+01,1.029602e+00
std,4.990711e-01,1.323660e+00,6.442861e+03,9.094768e+00,5.010517e+00,8.610226e+00,4.742958e+00,4.877766e-01,4.776188e+01,4.838878e-01,3.543427e-02,5.766333e+02,1.598055e+00,3.658648e-02,5.786545e+02,3.751831e-01
min,1.000000e+00,1.000000e+00,1.000000e-02,-1.616987e+02,-7.703949e+01,-7.401667e+02,-7.703949e+01,1.000000e+00,1.000000e-02,-5.850000e+01,-1.000000e+00,0.000000e+00,-5.540000e+00,0.000000e+00,1.000000e-02,1.000000e+00
25%,1.000000e+00,1.000000e+00,1.000000e+00,-7.399167e+01,4.073626e+01,-7.399122e+01,4.073477e+01,1.000000e+00,6.500000e+00,0.000000e+00,5.000000e-01,0.000000e+00,0.000000e+00,3.000000e-01,8.300000e+00,1.000000e+00
50%,2.000000e+00,1.000000e+00,1.700000e+00,-7.398158e+01,4.075342e+01,-7.397968e+01,4.075390e+01,1.000000e+00,9.000000e+00,0.000000e+00,5.000000e-01,1.250000e+00,0.000000e+00,3.000000e-01,1.160000e+01,1.000000e+00
75%,2.000000e+00,2.000000e+00,3.100000e+00,-7.396672e+01,4.076782e+01,-7.396246e+01,4.076926e+01,2.000000e+00,1.400000e+01,5.000000e-01,5.000000e-01,2.260000e+00,0.000000e+00,3.000000e-01,1.715000e+01,1.000000e+00
max,2.000000e+00,9.000000e+00,1.907263e+07,9.464387e+01,4.047000e+02,8.527402e+01,4.595333e+02,5.000000e+00,1.548104e+05,6.488700e+02,8.050000e+01,3.950589e+06,1.450090e+03,3.000000e-01,3.950612e+06,9.900000e+01

In [19]:
# Turn off scientific notation
pd.set_option('display.float_format', lambda x: '%.2f' % x)
df_all.describe()

,VendorID,passenger_count,trip_distance,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,RateCode
count,46938733.00,46938733.00,46938733.00,46938733.00,46938733.00,46938733.00,46938733.00,46938733.00,46938733.00,46938733.00,46938733.00,46938733.00,46938733.00,46938730.00,46938733.00,46938733.00
mean,1.53,1.67,7.51,-72.84,40.13,-72.96,40.19,1.35,12.35,0.33,0.50,1.79,0.28,0.30,15.54,1.03
std,0.50,1.32,6442.86,9.09,5.01,8.61,4.74,0.49,47.76,0.48,0.04,576.63,1.60,0.04,578.65,0.38
min,1.00,1.00,0.01,-161.70,-77.04,-740.17,-77.04,1.00,0.01,-58.50,-1.00,0.00,-5.54,0.00,0.01,1.00
25%,1.00,1.00,1.00,-73.99,40.74,-73.99,40.73,1.00,6.50,0.00,0.50,0.00,0.00,0.30,8.30,1.00
50%,2.00,1.00,1.70,-73.98,40.75,-73.98,40.75,1.00,9.00,0.00,0.50,1.25,0.00,0.30,11.60,1.00
75%,2.00,2.00,3.10,-73.97,40.77,-73.96,40.77,2.00,14.00,0.50,0.50,2.26,0.00,0.30,17.15,1.00
max,2.00,9.00,19072628.80,94.64,404.70,85.27,459.53,5.00,154810.43,648.87,80.50,3950588.80,1450.09,0.30,3950611.60,99.00

In [20]:
# 1. Clean TRIP DISTANCE
# Keep trips between 0.1 and 100 miles
df_all = df_all[(df_all['trip_distance'] > 0.1) & (df_all['trip_distance'] <= 100)]

# 2. Clean FARE AMOUNT
# Keep realistic fares only
df_all = df_all[(df_all['fare_amount'] > 0) & (df_all['fare_amount'] <= 500)]

# 3. Clean PASSENGER COUNT
# Keep only 1–6 passengers
df_all = df_all[(df_all['passenger_count'] > 0) & (df_all['passenger_count'] <= 6)]

# 4. Clean LATITUDE & LONGITUDE (NYC bounding box)
df_all = df_all[
    (df_all['pickup_latitude'].between(40, 42)) &
    (df_all['pickup_longitude'].between(-75, -72)) &
    (df_all['dropoff_latitude'].between(40, 42)) &
    (df_all['dropoff_longitude'].between(-75, -72))
]

# 5. Remove NEGATIVE VALUES in financial columns
money_cols = [
    'extra', 'mta_tax', 'tip_amount', 
    'tolls_amount', 'improvement_surcharge', 'total_amount'
]

for col in money_cols:
    df_all = df_all[df_all[col] >= 0]

# Final check
print("Cleaned dataset shape:", df_all.shape)

Cleaned dataset shape: (46104769, 19)

In [ ]:
# 5. Check Datatypes

df_all.dtypes

VendorID                   int64
tpep_pickup_datetime      object
tpep_dropoff_datetime     object
passenger_count            int64
trip_distance            float64
pickup_longitude         float64
pickup_latitude          float64
store_and_fwd_flag        object
dropoff_longitude        float64
dropoff_latitude         float64
payment_type               int64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
improvement_surcharge    float64
total_amount             float64
RateCode                 float64
dtype: object

In [22]:
df_all['tpep_pickup_datetime'] = pd.to_datetime(df_all['tpep_pickup_datetime'])
df_all['tpep_dropoff_datetime'] = pd.to_datetime(df_all['tpep_dropoff_datetime'])

In [ ]:
df_all['payment_type'] = df_all['payment_type'].astype('category')
df_all['store_and_fwd_flag'] = df_all['store_and_fwd_flag'].astype('category')

# reduce memory usage

# prepare for groupby/aggregation

# improve PostgreSQL export performancev

----------------------[de]---------------

# Speicherverbrauch reduzieren

# Vorbereitung für Groupby/Aggregation

# Verbesserung der PostgreSQL-Exportleistungv

In [7]:
# 6. Feature Engineering (Hour, day, month)
#  Extract from pickup datetime
df_all['pickup_hour'] = df_all['tpep_pickup_datetime'].dt.hour
df_all['pickup_weekday'] = df_all['tpep_pickup_datetime'].dt.weekday  # 0 = Monday
df_all['pickup_month'] = df_all['tpep_pickup_datetime'].dt.month
df_all['pickup_day'] = df_all['tpep_pickup_datetime'].dt.day

# Add trip duration in minutes
df_all['trip_duration_min'] = (df_all['tpep_dropoff_datetime'] - df_all['tpep_pickup_datetime']).dt.total_seconds() / 60

# Optional: add weekend flag
df_all['is_weekend'] = df_all['pickup_weekday'].isin([5, 6])  # Saturday=5, Sunday=6

In [8]:
df_all.to_pickle("cleaned_taxi_data.pkl")

In [ ]:
df_all = pd.read_pickle("cleaned_taxi_data.pkl")

In [ ]:
# Take a random sample of 10,000 rows for testing
df_sample = df_all.sample(n=10000, random_state=42)
df_sample.to_csv("sampled_taxi_data.csv", index=False)

In [44]:
import geopandas as gpd
from shapely.geometry import Point

# Only use rows with valid coordinates
df_sample = df_sample.dropna(subset=['pickup_latitude', 'pickup_longitude']).copy()

# Create GeoDataFrame directly using vectorized function
geometry = gpd.points_from_xy(df_sample['pickup_longitude'], df_sample['pickup_latitude'])
gdf_pickup = gpd.GeoDataFrame(df_sample, geometry=geometry, crs="EPSG:4326")

In [45]:
# Creates a connection to your PostGIS database.
from sqlalchemy import create_engine
engine = create_engine("postgresql://oatalmondcoconutmilk@localhost:5433/nyc_taxi_data")

In [46]:
# This tries to write 100 pickup points into a PostGIS table.

from geoalchemy2 import Geometry

gdf_pickup.iloc[:100].to_postgis(
    "pickup_points",
    engine,
    if_exists="replace",
    dtype={"pickup_geometry": Geometry("POINT", srid=4326)}
)

In [48]:
import pandas as pd

df_all = pd.read_csv("sampled_taxi_data.csv")

In [50]:
from folium.plugins import HeatMap
import folium

# Filter some sample points
sample = df_all[['pickup_latitude', 'pickup_longitude']].dropna().iloc[:10000]

# Create the map
m = folium.Map(location=[40.75, -73.97], zoom_start=11)

# Add heatmap layer
HeatMap(data=sample.values, radius=8).add_to(m)

# Save or display
m.save("pickup_heatmap.html")

In [51]:
# We load a shapefile from NYC Open Data defining the boundaries of Neighborhood Tabulation Areas (NTAs).

# Wir laden ein Shapefile von NYC Open Data, das die Grenzen der Neighborhood Tabulation Areas (NTAs) definiert.
import geopandas as gpd

path = "/Users/oatalmondcoconutmilk/Documents/THWS/Datenverarbeitung/NYC/2020NTAs/geo_export_adc9a865-1e84-4d77-be99-05c904e2f898.shp"
gdf_neighborhoods = gpd.read_file(path)

gdf_neighborhoods.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 262 entries, 0 to 261
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   borocode    262 non-null    float64
 1   boroname    262 non-null    object
 2   countyfips  262 non-null    object
 3   nta2020     262 non-null    object
 4   ntaname     262 non-null    object
 5   ntaabbrev   262 non-null    object
 6   ntatype     262 non-null    object
 7   cdta2020    262 non-null    object
 8   cdtaname    262 non-null    object
 9   shape_leng  262 non-null    float64
 10  shape_area  262 non-null    float64
 11  geometry    262 non-null    geometry
dtypes: float64(3), geometry(1), object(8)
memory usage: 24.7+ KB

In [28]:
import geopandas as gpd
from shapely.geometry import Point

# 1. Convert your pickup DataFrame to a GeoDataFrame 
gdf_pickup = gpd.GeoDataFrame(
    df_all.dropna(subset=['pickup_latitude', 'pickup_longitude']).copy(),
    geometry=gpd.points_from_xy(df_all['pickup_longitude'], df_all['pickup_latitude']),
    crs="EPSG:4326"
)

# 2. Spatial join: assign each pickup to its containing neighborhood
gdf_joined = gpd.sjoin(gdf_pickup, gdf_neighborhoods[['ntaname', 'geometry']], how="left", predicate='within')

# 3. Now gdf_joined has a new column 'ntaname' with the neighborhood name
gdf_joined.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,...,RateCode,pickup_hour,pickup_weekday,pickup_month,pickup_day,trip_duration_min,is_weekend,geometry,index_right,ntaname
0,2,2015-01-15 19:05:39,2015-01-15 19:23:42,1,1.59,-73.993896,40.750111,N,-73.974785,40.750618,...,1.0,19,3,1,15,18.050000,False,POINT (-73.9939 40.75011),129.0,Midtown South-Flatiron-Union Square
1,1,2015-01-10 20:33:38,2015-01-10 20:53:28,1,3.30,-74.001648,40.724243,N,-73.994415,40.759109,...,1.0,20,5,1,10,19.833333,True,POINT (-74.00165 40.72424),121.0,SoHo-Little Italy-Hudson Square
2,1,2015-01-10 20:33:38,2015-01-10 20:43:41,1,1.80,-73.963341,40.802788,N,-73.951820,40.824413,...,1.0,20,5,1,10,10.050000,True,POINT (-73.96334 40.80279),142.0,Morningside Heights
3,1,2015-01-10 20:33:39,2015-01-10 20:35:31,1,0.50,-74.009087,40.713818,N,-74.004326,40.719986,...,1.0,20,5,1,10,1.866667,True,POINT (-74.00909 40.71382),119.0,Tribeca-Civic Center
4,1,2015-01-10 20:33:39,2015-01-10 20:52:58,1,3.00,-73.971176,40.762428,N,-74.004181,40.742653,...,1.0,20,5,1,10,19.316667,True,POINT (-73.97118 40.76243),130.0,Midtown-Times Square

In [29]:
import folium
from folium.plugins import MarkerCluster

# The center of the map is the middle of Manhattan
# Das Zentrum der Karte ist die Mitte von Manhattan.

m = folium.Map(location=[40.75, -73.97], zoom_start=11)

# ➕ Add GeoJSON with districts
# ➕ GeoJSON mit Bezirken hinzufügen
folium.GeoJson(
    gdf_neighborhoods,
    name='Neighborhoods',
    style_function=lambda x: {
        'fillColor': 'orange',
        'color': 'black',
        'weight': 1,
        'fillOpacity': 0.2
    },
    tooltip=folium.GeoJsonTooltip(fields=['ntaname'], aliases=['Neighborhood:'])
).add_to(m)

# ➕ Add pickup points (only 1000 sample, because of the speed)
# ➕ Abholpunkte hinzufügen (nur 1000 für Geschwindigkeit)
marker_cluster = MarkerCluster(name='Pickup Points').add_to(m)
for _, row in gdf_pickup.sample(1000).iterrows():
    folium.CircleMarker(
        location=[row.geometry.y, row.geometry.x],
        radius=2,
        color='blue',
        fill=True,
        fill_opacity=0.6
    ).add_to(marker_cluster)

# Fügen Sie ein Panel mit Ebenen hinzu.
folium.LayerControl().add_to(m)

# Speichern Sie die Karte.
m.save("nyc_neighborhoods_pickups.html")

In [30]:
df_all['pickup_neighborhood'] = gdf_joined['ntaname']

In [31]:
# Add neighborhood as dummy variables (one-hot encoding)
df_model = pd.get_dummies(df_all[features + ['pickup_neighborhood', 'fare_amount']], drop_first=True)

In [32]:
import pandas as pd
import geopandas as gpd
from shapely.geometry import Point

# Load the sampled data
df = pd.read_csv("sampled_taxi_data.csv")

# Load the shapefile with neighborhood polygons
shapefile_path = "/Users/oatalmondcoconutmilk/Documents/THWS/Datenverarbeitung/NYC/2020NTAs/geo_export_adc9a865-1e84-4d77-be99-05c904e2f898.shp"
gdf_neighborhoods = gpd.read_file(shapefile_path)

In [33]:
# Create geometry column
df['geometry'] = df.apply(lambda row: Point(row['pickup_longitude'], row['pickup_latitude']), axis=1)
gdf_pickup = gpd.GeoDataFrame(df, geometry='geometry', crs="EPSG:4326")

# Spatial join to get neighborhood names
gdf_joined = gpd.sjoin(
    gdf_pickup, 
    gdf_neighborhoods[['ntaname', 'geometry']], 
    how="left", 
    predicate="within"
)

# Rename the neighborhood column
gdf_joined = gdf_joined.rename(columns={'ntaname': 'pickup_neighborhood'})

In [34]:
# Drop geometry columns before saving
gdf_joined = gdf_joined.drop(columns=['geometry', 'index_right'])

# Save new dataset with neighborhood
gdf_joined.to_csv("sampled_taxi_data_with_neighborhood.csv", index=False)

In [35]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.linear_model import RidgeCV, LassoCV
from sklearn.decomposition import PCA
from sklearn.metrics import r2_score, mean_squared_error
import numpy as np

# Load dataset
df = pd.read_csv("sampled_taxi_data_with_neighborhood.csv")

# Drop rows with missing fare
df = df.dropna(subset=['fare_amount'])

# Features and target
features = [
    'trip_distance',
    'passenger_count',
    'pickup_hour',
    'pickup_month',
    'pickup_day',
    'pickup_weekday',
    'trip_duration_min',
    'tip_amount',
    'tolls_amount',
    'extra',
    'pickup_neighborhood'  # categorical
]

X = df[features]
y = df['fare_amount']

In [36]:
# Identify numeric and categorical columns
numeric_features = X.select_dtypes(include=np.number).columns.tolist()
categorical_features = ['pickup_neighborhood']

# Preprocessing: scale numeric, one-hot encode categorical
preprocessor = ColumnTransformer([
    ('num', StandardScaler(), numeric_features),
    ('cat', OneHotEncoder(handle_unknown='ignore'), categorical_features)
])

In [37]:
# Split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Ridge pipeline
ridge_pipeline = Pipeline([
    ('preprocess', preprocessor),
    ('ridge', RidgeCV(alphas=np.logspace(-3, 3, 20), cv=5))
])

# Lasso pipeline
lasso_pipeline = Pipeline([
    ('preprocess', preprocessor),
    ('lasso', LassoCV(alphas=np.logspace(-3, 3, 20), cv=5, max_iter=10000))
])

# Fit both
ridge_pipeline.fit(X_train, y_train)
lasso_pipeline.fit(X_train, y_train)

Pipeline(steps=[('preprocess',
                 ColumnTransformer(transformers=[('num', StandardScaler(),
                                                  ['trip_distance',
                                                   'passenger_count',
                                                   'pickup_hour',
                                                   'pickup_month', 'pickup_day',
                                                   'pickup_weekday',
                                                   'trip_duration_min',
                                                   'tip_amount', 'tolls_amount',
                                                   'extra']),
                                                 ('cat',
                                                  OneHotEncoder(handle_unknown='ignore'),
                                                  ['pickup_neighborhood'])])),
                ('lasso',
                 LassoCV(alphas=array([1.00000000e-03, 2.06913808e-03, 4.28133240e-03, 8.85866790e-03,
       1.83298071e-02, 3.79269019e-02, 7.84759970e-02, 1.62377674e-01,
       3.35981829e-01, 6.95192796e-01, 1.43844989e+00, 2.97635144e+00,
       6.15848211e+00, 1.27427499e+01, 2.63665090e+01, 5.45559478e+01,
       1.12883789e+02, 2.33572147e+02, 4.83293024e+02, 1.00000000e+03]),
                         cv=5, max_iter=10000))])

In [38]:
# Predictions
y_pred_ridge = ridge_pipeline.predict(X_test)
y_pred_lasso = lasso_pipeline.predict(X_test)

# Metrics
print("Ridge R2:", r2_score(y_test, y_pred_ridge))
print("Ridge RMSE:", np.sqrt(mean_squared_error(y_test, y_pred_ridge)))
print("Lasso R2:", r2_score(y_test, y_pred_lasso))
print("Lasso RMSE:", np.sqrt(mean_squared_error(y_test, y_pred_lasso)))

Ridge R2: 0.9420482610570978
Ridge RMSE: 2.436878830880195
Lasso R2: 0.9431531474943806
Lasso RMSE: 2.413536721864528

In [39]:
import pandas as pd
import statsmodels.api as sm

# Load your data
df = pd.read_csv("sampled_taxi_data_with_neighborhood.csv")

# Define your features and target
features = [
    'trip_distance',
    'passenger_count',
    'pickup_hour',
    'pickup_month',
    'pickup_day',
    'pickup_weekday',
    'trip_duration_min',
    'tip_amount',
    'tolls_amount',
    'extra'
]

X = df[features]
X = sm.add_constant(X)  # Adds intercept term
y = df['fare_amount']

# Fit model
model = sm.OLS(y, X).fit()

# Export p-values and coefficients
summary_df = pd.DataFrame({
    'Variable': model.params.index,
    'Coefficient': model.params.values,
    'p-value': model.pvalues.values
})
summary_df.to_csv("regression_summary.csv", index=False)

print("✅ Exported regression_summary.csv")

✅ Exported regression_summary.csv

In [42]:
import geopandas as gpd
import folium

# Reload shapefile
gdf_neighborhoods = gpd.read_file("/Users/oatalmondcoconutmilk/Documents/THWS/Datenverarbeitung/NYC/2020NTAs/geo_export_adc9a865-1e84-4d77-be99-05c904e2f898.shp")

# Join average fare per neighborhood
avg_fares = df.groupby("pickup_neighborhood")["fare_amount"].mean().reset_index()
avg_fares.columns = ["ntaname", "avg_fare"]

# Merge with polygons
gdf_map = gdf_neighborhoods.merge(avg_fares, on="ntaname")

# Create map
m = folium.Map(location=[40.75, -73.97], zoom_start=11)

folium.Choropleth(
    geo_data=gdf_map.to_json(),
    data=gdf_map,
    columns=["ntaname", "avg_fare"],
    key_on="feature.properties.ntaname",
    fill_color='YlOrRd',
    fill_opacity=0.7,
    line_opacity=0.3,
    legend_name='Average Fare by Neighborhood'
).add_to(m)

m.save("map_avg_fare_by_neighborhood.html")
print("✅ Map saved as map_avg_fare_by_neighborhood.html")

✅ Map saved as map_avg_fare_by_neighborhood.html

In [ ]:
# We built a regression model to predict NYC taxi fares using key trip variables such as distance, passenger count, pickup time, and tips. The model achieves a high R² of 0.94 using Ridge regression. Statistically significant variables include trip distance, pickup time, and additional charges. We visualized spatial differences in average fares to detect costlier or cheaper areas. This helps understand fare dynamics and could guide drivers, dispatchers, or pricing policies.

In [43]:
import pandas as pd
import geopandas as gpd
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
import folium

# Load data
df = pd.read_csv("sampled_taxi_data_with_neighborhood.csv")
gdf_neighborhoods = gpd.read_file("/Users/oatalmondcoconutmilk/Documents/THWS/Datenverarbeitung/NYC/2020NTAs/geo_export_adc9a865-1e84-4d77-be99-05c904e2f898.shp")

# Drop NA and select features
features = [
    'trip_distance', 'passenger_count', 'pickup_hour',
    'pickup_month', 'pickup_day', 'pickup_weekday',
    'trip_duration_min', 'tip_amount', 'tolls_amount', 'extra'
]

df_clean = df.dropna(subset=features + ['pickup_neighborhood']).copy()

# Standardize
X_scaled = StandardScaler().fit_transform(df_clean[features])

# PCA
pca = PCA(n_components=1)
df_clean['PC1'] = pca.fit_transform(X_scaled)

# Group by neighborhood
df_pc1 = df_clean.groupby("pickup_neighborhood")['PC1'].mean().reset_index()

# Merge with shapefile
gdf_results = gdf_neighborhoods.merge(df_pc1, left_on="ntaname", right_on="pickup_neighborhood", how="left")

# Save merged data to check if needed
gdf_results.to_file("pca_neighborhoods_result.geojson", driver="GeoJSON")

# Plotting
m = folium.Map(location=[40.75, -73.97], zoom_start=11)

folium.Choropleth(
    geo_data=gdf_results.to_json(),
    name='PC1 by Neighborhood',
    data=gdf_results,
    columns=['ntaname', 'PC1'],
    key_on='feature.properties.ntaname',
    fill_color='PuBuGn',
    fill_opacity=0.7,
    line_opacity=0.3,
    legend_name='PCA: Main Taxi Trip Behavior'
).add_to(m)

m.save("pca_behavior_by_neighborhood.html")
print("✅ PCA map saved as 'pca_behavior_by_neighborhood.html'")

/Users/oatalmondcoconutmilk/Documents/THWS/Datenverarbeitung/NYC/.venv/lib/python3.12/site-packages/sklearn/decomposition/_base.py:148: RuntimeWarning: divide by zero encountered in matmul
  X_transformed = X @ self.components_.T
/Users/oatalmondcoconutmilk/Documents/THWS/Datenverarbeitung/NYC/.venv/lib/python3.12/site-packages/sklearn/decomposition/_base.py:148: RuntimeWarning: overflow encountered in matmul
  X_transformed = X @ self.components_.T
/Users/oatalmondcoconutmilk/Documents/THWS/Datenverarbeitung/NYC/.venv/lib/python3.12/site-packages/sklearn/decomposition/_base.py:148: RuntimeWarning: invalid value encountered in matmul
  X_transformed = X @ self.components_.T

✅ PCA map saved as 'pca_behavior_by_neighborhood.html'